In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file = 'https://raw.githubusercontent.com/alamhanz/pandas_journey/main/mydata/food_delivery_datasets.csv'
dataset = pd.read_csv(file, sep=',')
dataset.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587

In [6]:
#Jumlah pelanggan yang memberikan rating = 1
condition = dataset['rating']==1
dataset['rating'][condition].count()

1

In [7]:
#Jumlah pelanggan yang memberikan rating = 2
condition = dataset['rating']==2
dataset['rating'][condition].count()

0

In [8]:
#Jumlah pelanggan yang memberikan rating = 3
condition = dataset['rating']==3
dataset['rating'][condition].count()

5

In [9]:
#Jumlah pelanggan yang memberikan rating = 4
condition = dataset['rating']==4
dataset['rating'][condition].count()

18

In [10]:
#Jumlah pelanggan yang memberikan rating = 5
condition = dataset['rating']==5
dataset['rating'][condition].count()

574